.topnav {
position: absolute;
left: 220px;
allign: center;
width: 1500px;
overflow: hidden;
background-color: #222224;

}

.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 17px 30px 0px 30px;
text-decoration: none;
font-size: 20px;
height: 50px;
}



.topnav a.active {
background-color: #222224;
color: #626262;
}

.topnav a.active:hover {
color: #FFFFFF;
}
.topnav a.button {
float: initial;
background-color: #f7971e;
color: black;
padding: 15px 15px;
margin: 8px 8px;
border-radius: 5px;
border-color: #606060;
cursor: pointer;
width: 100%;
}
.topnav a.button:hover {
opacity: 90%;
}
.buttonn {
background-color: #f7971e;
color: black;
padding: 7px 25px;
margin: 8px 8px;
border-radius: 3px;
border-color: #606060;
cursor: pointer;
width: 85px;
}
.buttonnedit {
background-color: #f7971e;
color: #f7971e;
padding: 7px 25px;
margin: 8px 8px;
border-radius: 3px;
border-color: #606060;
width: 50px;
}


.buttonn:hover {
color: black;
opacity: 90%;
}

.buttonnedit:hover {
color: black;
opacity: 90%;
}

.buttoncontainer {
  position: absolute;
  left: 700px;
  top: 320px;
  width: 100px;

}
.buttoncontaineredit {
  position: absolute;
  left: 700px;
  top: 700px;
  width: 100px;
  height: 200px;
}
.middlenav {
overflow: hidden;
background-color: #F7971E;
height: 80px;
border-color: #606060;
}

.middlenav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 20px 30px 3px 30px;
text-decoration: none;
font-size: 20px;
height: 50px;
}

.content {
overflow: hidden;
background-color: #222224;
height: 2000px;
}

.contenttext {
position: absolute;
top: 670px;
left: 220px;
height: 1400px;
width: 1500px;
color: #f2f2f2;
}

.contenttext a {
color: black;
text-align: center;
text-decoration: none;
font-size: 20px;
}
.contenttext a.active {
color: #f2f2f2;
}
.contenttext a.active2 {
color: #1200ED;
}
.contenttext a:hover {
color: black;
background-color: #bf7517;
padding: 15px 10px 15px 10px;
border-radius: 3px;
}
.contenttext a.button5 {
background-color: #f7971e;
color: black;
padding: 7px 25px;
margin: 8px 8px;
border-radius: 3px;
border-color: #606060;
width: 50px;
}
.contenttext a.active2:hover {
color: white;
background-color: #000000;
padding: 10px 8px 10px 8px;
border-radius: 3px;
}
.contenttext a.button2:hover {
background-color: #bf7517;
}
.contenttext a.button2 {
background-color: #f7971e;
margin: 8px 8px;
border-radius: 5px;
border-color: #606060;
cursor: pointer;
width: 300px;
text-decoration: none;
font-size: 20px;
padding: 30px 30px 30px 30px;
}
.contenttext2 {
position: absolute;
top: 670px;
left: 0px;
height: 1400px;
width: 1500px;
}
.contenttext3 a {
color: black;
text-align: center;
text-decoration: none;
font-size: 20px;
}

.IDicon {
position: absolute;
left: 150px;
top: 530px;
width: 50px;
}

.nameicon {
position: absolute;
left: 410px;
top: 530px;
width: 50px;
}

.bedicon {
position: absolute;
left: 1250px;
top: 530px;
width: 50px;
}

.roomicon {
position: absolute;
left: 1020px;
top: 530px;
width: 50px;
}

.buildingicon {
position: absolute;
left: 820px;
top: 530px;
width: 50px;
}

.ID {
position: absolute;
left: 230px;
top: 550px;
width: 50px;
}

.name {
position: absolute;
left: 480px;
top: 550px;
width: 400px;
}

.bed {
position: absolute;
left: 1330px;
top: 550px;
width: 50px;
}

.room {
position: absolute;
left: 1110px;
top: 550px;
width: 50px;
}

.building {
position: absolute;
left: 900px;
top: 550px;
width: 200px;
}
.building2 {
position: absolute;
left: 1200px;
top: 630px;
width: 500px;
}

.select {
background-color: #DADADA;
color: black;
padding: 7px 25px;
margin: 8px 8px;
border-radius: 5px;
border-color: #606060;
cursor: pointer;
width: 400px;
}

.select2 {
background-color: #DADADA;
color: black;
padding: 7px 25px;
margin: 8px 8px;
border-radius: 5px;
border-color: #606060;
width: 400px;
}

.select3 {
background-color: #DADADA;
color: black;
padding: 7px 25px;
margin: 8px 8px;
border-radius: 5px;
border-color: #606060;
width: 200px;
}

.select4 {
background-color: #DADADA;
color: black;
padding: 7px 10px;
margin: 3px 3px;
border-radius: 5px;
border-color: #606060;
cursor: text;
width: 400px;
}